{% block navbar %}

<nav class="bg-green-900">
  <div class="px-6 py-4 text-white flex items-center justify-between">
    
   
    <div class="text-2xl font-semibold hover:text-emerald-500">
      <a href="{% url 'Projects:index' %}">Django Consultoria</a>
    </div>

  
    <button id="menu-toggle" class="md:hidden focus:outline-none">
      <svg class="w-6 h-6 fill-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path d="M4 5h16M4 12h16M4 19h16"/>
      </svg>
    </button>

    <!-- Navigation Menu -->
    <ul id="menu" class="hidden flex-col md:flex md:flex-row md:items-center md:space-x-8 text-xl font-bold space-y-4 md:space-y-0 mt-4 md:mt-0">
      <li class="flex items-center hover:text-emerald-500 space-x-2">
        <a href="{% url 'Projects:index' %}" class="flex items-center space-x-2">
          <span>Portafolio</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-5 h-5 fill-white">
            <path d="..."/>
          </svg>
        </a>
      </li>

      <li class="hover:text-emerald-500">
        <a href="{% url 'blog:blog' %}">Blog</a>
      </li>

      <li class="flex items-center hover:text-emerald-500 space-x-2">
        <a href="{% url 'Projects:login' %}" class="flex items-center space-x-2">
          <span>Login</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="w-5 h-5 fill-white">
            <path d="..."/>
          </svg>
        </a>
      </li>

      <li class="flex items-center hover:text-emerald-500 space-x-2">
        <a href="{% url 'Projects:register' %}" class="flex items-center space-x-2">
          <span>Register</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="w-4 h-4 fill-white">
            <path d="..."/>
          </svg>
        </a>
      </li>
    </ul>

    <div class="w-10 hidden md:block"></div>
  </div>
</nav>


<script>
  const menuToggle = document.getElementById('menu-toggle');
  const menu = document.getElementById('menu');

  menuToggle.addEventListener('click', () => {
    menu.classList.toggle('hidden');
  });
</script>

{% endblock navbar %}
